body{
    background-color: black;
}

.login{
    text-align: center;
    background-color: black;
    font-style: normal;
    color: greenyellow;
    font: 2.5em;
    
}

.login button{
    padding: 10px 40px;
    border: 2px solid #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: blue;
}


.administrador{
    color: greenyellow;
    text-align: center;
}

.h1 {
    color: greenyellow;
    text-align: center;
}